.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

1.1_entry_output/node_modules
1.1_entry_output/dist
1.2_multi_entry/node_modules
1.2_multi_entry/dist
