.div1 {
    .p1 {
        color: white;
        width: 200px;
        height: 200px;
        background-image: url('./not_transfer_base64.jpg');
    }
    .p2 {
        width: 522px;
        height: 299px;
        background-image: url('./transfer_base64.jpg');
    }
}
